/* 登录窗口 主体 */
.login02 {
    width: 469px;
    height: 252px;
    border: 1px solid #D8D8D8;
    background-color: #fff;
}
.login02 .zc {
    width: 262px;
    height: 252px;
}
.login02 .left img {
    width: 179px;
    height: 94px;
    display: block;
    margin: 36px 37px 17px 47px;
}
.login02 .left a {
    width: 197px;
    height: 25px;
    display: block;
    margin-left: 36px;
    font-size: 10px;
    text-align: center;
    line-height: 25px;
    border: 1px solid #C4C4C4;
    border-radius: 5px;
}
.login02 .left a:first-of-type:hover {
    background-color: #589FE0;
}
.login02 .left a:last-child:hover {
    background-color: #FEFEFE;
}
.login02 .left a:first-of-type {
    background-color: #2C7DCA;
    color: #ffffff;
}
.login02 .left a:last-child {
    background-color: #F6F6F6;
    margin-top: 9px;
    color: #333333;
}
.login02 .right .icons {
    width: 206px;
    height: 180px;
    margin-top: 36px;
    border-left: 1px dotted #CCCCCC;
}
.login02 .icons li {
    width: 167px;
    height: 34px;
    margin-left: 39px;
    line-height: 34px;
    font-size: 10px;
    margin-bottom: 14px;
}
.login02 .icons li:first-child {
    margin-top: 4px;
}
.login02 .icons li:last-child {
    margin-bottom: 0;
}
.login02 .icons li a {
    width: 34px;
    height: 34px;
    display: block;
    color: #000;
    white-space: nowrap;
    text-align: center;
}
.login02 .icons li a div {
    width: 32px;
    height: 32px;
    border: 1px solid #CFCFCF;
    border-radius: 50%;
}
.login02 .icons li a span {
    margin-left: 12px;
}
.login02 .icons li a:hover span {
    text-decoration: underline;
}
/*----------*/
/* 创客者中心 登录界面 */
.clogin {
    width: 858px;
    height: 590px;
    margin: 0 auto;
    background-color: #fff;
    border-left: 1px solid #D3D3D3;
    border-right: 1px solid #D3D3D3;
    overflow: hidden;
}
.clogin .content {
    width: 471px;
    height: 310px;
    margin: 50px auto;
}
.clogin .content .title {
    width: 471px;
    height: 58px;
    text-align: center;
    line-height: 58px;
}
/*-----------*/
/* 登录字体 登录界面 */
.llogin {
    width: 471px;
    height: 287px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.llogin .title {
    width: 471px;
    height: 35px;
    line-height: 35px;
    background-color: #2D2D2D;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.llogin .title h4 {
    color: #fff;
    margin-left: 15px;
}
.llogin .title span {
    color: #888888;
    margin-right: 17px;
}
/*---------*/
